.bg-circle-1,
.bg-circle-2,
.bg-circle-3,
.bg-circle-4,
.bg-circle-5,
.bg-circles-prject {
  background-repeat: no-repeat;
}
.bg-circle-1 {
  background-image: url('~/assets/svg/decor-bg/decor.svg');
  background-position: -200px 200px;
  background-size: 2000px 2000px;
}

.bg-circle-2 {
  background-image: url('~/assets/svg/decor-bg/decor-2.svg');
  background-position: -300px 700px;
  background-size: 700px 1600px;
}
.bg-circle-3 {
  background-image: url('~/assets/svg/decor-bg/decor-3.svg');
  background-position: center bottom -140px;
  background-size: 450px 750px;
}
.bg-circle-4 {
  background-image: url('~/assets/svg/decor-bg/decor-4.svg');
  background-position: center top 800px;
  background-size: 1000px 1000px;
}

.bg-circle-5 {
  background-image: url('~/assets/svg/decor-bg/decor-5.svg');
  background-size: 800px;
  background-position: left bottom -20px;
}

.bg-circles-prject {
  background-image:
    url('@/assets/svg/decor-bg/project-decor-2.svg'), url('@/assets/svg/decor-bg/project-decor-3.svg'),
    url('@/assets/svg/decor-bg/project-decor-2.svg');
  background-size:
    500px 600px,
    500px 600px,
    500px 600px;
  background-position:
    top 300px left 100px,
    top 1050px right 200px,
    top 1800px right -200px;
}

@media (min-width: 350px) {
  .bg-circles-prject {
    background-position:
      top 300px left 100px,
      top 1050px right 200px,
      top 1600px right -200px;
  }
}

@media (min-width: 400px) {
  .bg-circles-prject {
    background-position:
      top 300px left 100px,
      top 1050px right 200px,
      top 1650px right -200px;
  }
}
@media (min-width: 480px) {
  .bg-circle-1 {
    background-position: -250px 0px;
  }
  .bg-circle-4 {
    background-position: center top 150px;
  }
  .bg-circles-prject {
    background-size: 600px 700px;
    background-position:
      top 380px left 60px,
      top 1150px right 200px,
      top 1800px right -200px;
  }
}

@media (min-width: 520px) {
  .bg-circle-5 {
    background-position: left 100px bottom -50px;
  }
  .bg-circles-prject {
    background-position:
      top 380px left 60px,
      top 1150px right 200px,
      top 1900px right -200px;
  }
}
@media (min-width: 640px) {
  .bg-circle-2 {
    background-position: -300px 0px;
  }
  .bg-circle-5 {
    background-position: left 200px bottom -50px;
  }
  .bg-circles-prject {
    background-position:
      top -150px right -200px,
      top 1050px right 440px,
      top 1800px right -200px;
  }
}
@media (min-width: 661px) {
  .bg-circle-4 {
    background-position: center top 150px;
    background-size: 1300px 1000px;
  }
}

@media (min-width: 700px) {
  .bg-circles-prject {
    background-position:
      top -150px right -200px,
      top 1050px right 500px,
      top 1800px right -200px;
  }
}

@media (min-width: 768px) {
  .bg-circle-1 {
    background-position: 100px 0px;
  }
  .bg-circle-5 {
    background-position: left 400px bottom -50px;
  }
  .bg-circles-prject {
    background-size: 1000px 1000px;
    background-position:
      top -300px right -300px,
      top 1050px right 440px,
      top 2000px right -450px;
  }
}

@media (min-width: 830px) {
  .bg-circles-prject {
    background-size: 1000px 1000px;
    background-position:
      top -300px right -300px,
      top 1150px right 520px,
      top 2000px right -450px;
  }
}
@media (min-width: 992px) {
  .bg-circle-1 {
    background-position: 240px 350px;
    background-size: 1400px 1400px;
  }
  .bg-circle-2 {
    background-position: -300px -300px;
  }
  .bg-circle-3 {
    background-position: right bottom 30px;
    background-size: 600px 700px;
  }
  .bg-circle-4 {
    background-position: center top 170px;
    background-size: 1500px 1000px;
  }
  .bg-circle-5 {
    background-size: 1100px;
    background-position: right -200px bottom 0px;
  }
  .bg-circles-prject {
    background-size:
      1300px 1400px,
      1100px 1800px;
    background-position:
      top -200px right -300px,
      top 750px right 700px,
      top 2000px right -450px;
  }
}
@media (min-width: 1200px) {
  .bg-circles-prject {
    background-size:
      1300px 1400px,
      1100px 1800px;
    background-position:
      top -200px right -300px,
      top 750px right 700px,
      top 2200px right -450px;
  }
}
@media (min-width: 1280px) {
  .bg-circle-1 {
    background-position: 340px 350px;
  }
  .bg-circle-2 {
    background-position: -300px -300px;
  }
  .bg-circle-4 {
    background-size: 1800px 1000px;
  }
  .bg-circles-prject {
    background-size:
      1300px 1400px,
      1100px 1800px;
    background-position:
      top -200px right -300px,
      top 950px right 900px,
      top 2200px right -450px;
  }
}

@media (min-width: 1400px) {
  .bg-circle-1 {
    background-position: 500px 350px;
  }
  .bg-circle-2 {
    background-position: -200px -320px;
    background-size: 700px 1600px;
  }
  .bg-circle-4 {
    background-position: center top 250px;
  }
}

@media (min-width: 1920px) {
  .decor-container {
    max-width: 2200px;
    margin-left: auto;
    margin-right: auto;
  }
  .decor-progect-container {
    max-width: 3000px;
    margin-left: auto;
    margin-right: auto;
  }
  .bg-circle-1 {
    background-position: 820px 650px;
  }
  .bg-circle-2 {
    background-position: -0px -140px;
  }
  .bg-circle-3 {
    background-position: right bottom -50px;
    background-size: 800px 1000px;
  }
  .bg-circle-5 {
    background-position: right bottom;
    background-size: 1300px;
  }
  .bg-circles-prject {
    background-size: auto;
    background-position:
      top -300px right 100px,
      top 1850px right 1500px,
      top 3000px right;
  }
}
