@import 'all.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* general */

html,
body {
  @apply bg-grey;
  height: 100%;
  scroll-behavior: smooth;
}

/* tailwind */

@layer base {
  button {
    @apply rounded-base;
  }

  .text-heading {
    @apply text-[40px] xs:text-[60px] lg:text-[80px] max-lg:text-center xxl:text-[100px] leading-[100%];
  }
  .text-ptice {
    @apply text-[16px] min-[880px]:text-[18px]  lg:text-[18px] xxl:text-[24px];
  }

  .text-primary {
    @apply text-[1.125rem] xxl:text-[1.5rem];
  }

  .section-margin-top {
    @apply mt-[80px] lg:mt-[100px] xl:mt-[120px] xxl:mt-[140px];
  }
  .section-scroll-mt {
    @apply scroll-mt-[40px];
  }
  .mail-svg {
    @apply bg-[url(~/assets/svg/input/mail.svg)] bg-no-repeat bg-[center_right_26px];
  }
}

@layer components {
  .card {
    border-radius: theme('borderRadius.lg');
    padding: theme('spacing.6');
  }
}

/* container */

.custom-container {
  width: 100%;
  max-width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .custom-container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .custom-container {
    max-width: 1200px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media screen and (min-width: 1920px) {
  .custom-container {
    max-width: 1600px;
  }
}
