@import 'all.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* general */

html,
body {
  @apply bg-grey;
  height: 100%;
}

.no-scroll {
  overflow: hidden;
}

/* tailwind */

@layer base {
  button {
    @apply rounded-base;
  }

  .text-ptice {
    @apply text-[16px] min-[880px]:text-[18px]  lg:text-[22px] xl:text-[24px];
  }

  .text-primary {
    @apply text-[1.125rem] xl:text-[1.25rem] xxl:text-[1.5rem];
  }

  .section-margin-top {
    @apply mt-[80px] lg:mt-[100px] xl:mt-[120px] xxl:mt-[140px];
  }
}

@layer components {
  .card {
    border-radius: theme('borderRadius.lg');
    padding: theme('spacing.6');
  }
}

/* container */

.custom-container {
  width: 100%;
  max-width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .custom-container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .custom-container {
    max-width: 1200px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media screen and (min-width: 1920px) {
  .custom-container {
    max-width: 1600px;
  }
}
