:root {
  --white: #ffffff;
  --white-80: rgba(255, 255, 255, 0.8);
  --white-25: rgba(255, 255, 255, 0.25);
  --black: #000000;
  --black-40: rgba(0, 0, 0, 0.4);
  --Carbonic: #151515;
  --Onyx: #2e2e2e;
  --anthracite: #2e2e2ec9;
  --grey: #e4e3e9;
  --grayLight: #f2f2f2;
  --greySilver: #d6d6d6;
  --yellow: #fadda5;
  --green: #c7d6b5;
  --dimGray: #696969;
}
